################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/daily-report/CopilotIndices/17.12.38.29086
/.vs/daily-report/FileContentIndex
/.vs
/build/main
