
/.venv
/.vs
/dist
/build
app/dist/main.exe
README.html
**/__pycache__/**
app/testfile/test.json
output_csv/2025-2-4name9.csv
output_csv/2025-2-4name19.csv
output_csv/
/app/.venv
src/dist/main.exe
/app/build
app/main.spec
/src/dist
src/.DS_Store
.DS_Store

