name: Flet Windows based on PyInstaller

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller flet==0.24.1 pandas datetime numpy

      - name: Build executable
        run: |
          pyinstaller --onefile --debug all --hidden-import pandas --hidden-import numpy --hidden-import csv --hidden-import datetimeã€€--hidden-import flet app/main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: executable
          path: dist/main.exe
